#footer{
    display: flex;
    justify-content: center;
    font-size:  0.8rem;;
    color:rgb(161, 156, 156);
}
#footer p{
    margin:2px 6px;
}

.footer-bottom{
    margin: 30px 0;
}


@media (max-width:768px){
    #footer{
        display: none;
    }
}