body{
    margin:0;
    background-color: #fafafa; 
}
#layout1{
    display: flex;
    justify-content: right;
    padding:100px 0;

}
#layout2{
    display: flex;
    justify-content: left;
    padding:50px 0;
}

@media (max-width:768px){
    #layout1{
        display: none;
    }
    #layout2{
        display: none;
       
    }
    
}